<%- include('partials/head')%>

<div class="jumbotron text-center">
  <h1><%= title %></h1>
  <p>Bienvenido a <%= title %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 flex-col-center">
	  <img src="https://acompana.org/wp-content/uploads/2020/03/ICONO-ACOMPAÑAMIENTO-PERSONAL.png" alt="img1" style="width:200px;">
      <h3>Acompañamiento <br>personal</h3>
      <p></p>
    </div>
    <div class="col-sm-4 flex-col-center">
      <img src="https://acompana.org/wp-content/uploads/2020/03/ICONO-ACOMPAÑAMIENTO-GRUPAL.png" alt="img2" style="width:200px;">
      <h3>Acompañamiento <br>grupal</h3>
      <p></p>
    </div>
    <div class="col-sm-4 flex-col-center">
      <img src="https://acompana.org/wp-content/uploads/2020/03/ICONO-CULTURA-DE-DUELO.png" alt="img3" style="width:200px;">
      <h3>Difusión de la cultura <br>del duelo</h3>
      <p></p>
    </div>
  </div>
</div>

<%- include('partials/footer')%>